.contacts-page-list {
  display: flex;
  padding-top: 33px;
}
@media (max-width: 970px) {
  .contacts-page-list {
    flex-wrap: wrap;
    padding-top: 23px;
  }
}
@media (max-width: 640px) {
  .contacts-page-list {
    flex-direction: column;
    padding-top: 0;
  }
}
.contacts-page-item {
  margin-bottom: 58px;
  margin-right: 10%;
}
@media (max-width: 1070px) {
  .contacts-page-item {
    margin-right: 5%;
  }
}
@media (max-width: 970px) {
  .contacts-page-item {
    margin-bottom: 48px;
  }
}
@media (max-width: 640px) {
  .contacts-page-item {
    margin-bottom: 38px;
    margin-right: 0;
  }
}
@media (max-width: 470px) {
  .contacts-page-item {
    margin-bottom: 28px;
  }
}
.contacts-page-item:last-child {
  margin-right: 0;
}
.contacts-page-item__title {
  display: flex;
  align-items: center;
  color: #40babc;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 970px) {
  .contacts-page-item__title {
    font-size: 18px;
  }
}
.contacts-page-item__title:before {
  display: block;
  content: '';
  height: 26px;
  width: 26px;
  margin-right: 6px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.contacts-page-item__info {
  font-size: 22px;
}
@media (max-width: 1270px) {
  .contacts-page-item__info {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  .contacts-page-item__info {
    font-size: 18px;
  }
}
@media (max-width: 470px) {
  .contacts-page-item__info {
    font-size: 16px;
  }
}
.contacts-page-item__info a {
  text-decoration: none;
  color: inherit;
}
.contacts-page-item_address .contacts-page-item__title:before {
  background-image: url(../img/svg/green/address.svg);
}
.contacts-page-item_phone .contacts-page-item__title:before {
  background-image: url(../img/svg/green/phone.svg);
}
.contacts-page-item_mail .contacts-page-item__title:before {
  background-image: url(../img/svg/green/mail.svg);
}
.contacts-page-map {
  height: 425px;
  background-color: #ccc;
  margin-bottom: 24px;
  position: relative;
}
.contacts-page-map .ymaps-2-1-75-ground-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
@media (max-width: 1070px) {
  .contacts-page-dots {
    display: none;
  }
}
.contacts-page-dots__item {
  background-color: #40babc;
  position: absolute;
  z-index: 3;
  box-shadow: 0px 0px 40px 0px rgba(64, 186, 188, 0.4);
}
.contacts-page-dots__item_left {
  width: 8px;
  height: 8px;
  top: -4%;
  left: 2%;
}
.contacts-page-dots__item_right {
  width: 39px;
  height: 39px;
  top: -4%;
  right: -1%;
}
.contacts-page-dots__item_top {
  width: 9px;
  height: 9px;
  top: -8%;
  right: 3%;
}
.contacts-page-dots__item_bottom {
  width: 14px;
  height: 14px;
  bottom: -2%;
  left: 7%;
}
